h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
	margin: 0;
}

ol[role="list"],
ul[role="list"] {
	list-style: none;
	padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

ul, li {
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
}
address {
	font-style: normal;
}

:root {
	--color-light: #F5F5F7;
	--color-dark: #221F20;
	--container-padding-inline: 13%;
	--footer-padding-inline: 10%;

	@media screen and (max-width: 768px) {
		--footer-padding-inline: 6%;
		--container-padding-inline: 6%;
	}
}

html {
	font-family: "Inter", sans-serif;
	scroll-behavior: smooth;
}

.container {
	padding: 0 var(--container-padding-inline);
}

.centering-text {
	text-align: center;
}

.heading-h2 {
	display: inline-block;
	font-size: 40px;
	font-weight: 400;
	text-align: center;
	color: var(--color-dark);	
	position: relative;
	margin-bottom: 53px;

	@media screen and (max-width: 768px) {
		font-size: 36px;
	}

	@media screen and (max-width: 425px) {
		font-size: 24px;
	}
}

.heading-h2::after {
	content: '';
	height: 2px;
	width: 75px;
	background-color: var(--color-dark);
	position: absolute;
	right: 0;
	bottom: -4px;
	transition: all .5s ease-in-out;
}

.heading-h2:hover::after {
	width: 100%;
}

.promo {
	min-height: 800px;
	background: url(../img/main_bg.jpg) bottom center / cover no-repeat, #000;
	padding: 75px 0 60px 0;
	position: relative;

	@media screen and (max-width: 1024px) {
		background: url(../img/main_bg.jpg) bottom center / 180% no-repeat, #000;
	}

	@media screen and (max-width: 425px) {
		background: url(../img/main_bg.jpg) bottom center / 250% no-repeat, #000;
		min-height: 500px;
	}
}

.promo__content {
	max-width: 60%;

	@media screen and (max-width: 1024px) {
		max-width: 80%;
	}

	@media screen and (max-width: 425px) {
		max-width: 100%;
	}
}

.promo__title {
	font-size: 60px;
	font-weight: 400;
	margin-bottom: 124px;
	text-transform: uppercase;
	color: var(--color-light);

	@media screen and (max-width: 768px) {
		font-size: 48px;
		margin-bottom: 80px;
	}

	@media screen and (max-width: 425px) {
		margin-bottom: 30px;
		font-size: 26px;
	}
}

.promo__subtitle {
	margin-bottom: 20px;
	font-size: 32px;
	font-weight: 100;
	color: var(--color-light);

	@media screen and (max-width: 425px) {
		font-size: 20px;
	}
}

.btn {
	margin-bottom: 100px;
	display: inline-block;
	padding: 0 24px;
	min-width: 160px;
	height: 38px;
	border: 1px solid var(--color-light);
	background: rgba(217, 217, 217, 0);
	color: var(--color-light);
	font-size: 16px;
	line-height: 38px;
	font-weight: 100;
	text-align: center;
	cursor: pointer;
	transition: all .2s ease-out;

	@media screen and (max-width: 768px) {
		margin-bottom: 80px;
	}

	@media screen and (max-width: 425px) {
		margin-bottom: 234px;
	}
}

.btn:hover {
	font-weight: 400;
	box-shadow: 4px 4px 15px 0px rgba(255, 255, 255, 0.62);
}

.promo__address {
	font-size: 16px;
	color: var(--color-light);
	font-weight: 100;

	a {
		display: inline-block;
		margin-top: 8px;
		color: inherit;
	}
}

.keywords {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	min-height: 32px;
	background: linear-gradient(
		180deg, 
		rgba(255, 255, 255, 0.04) 0%,
		rgba(255, 255, 255, 0.12) 50%,
		rgba(255, 255, 255, 0.2) 100%
	);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;

	li {
		color: var(--color-light);
		font-size: 10px;
		font-weight: 100;
	}

	@media screen and (max-width: 1024px) {
		gap: 16px;
	}

	@media screen and (max-width: 425px) {
		display: none;
	}
}

.about {
	background-color: var(--color-light);
	padding: 80px 0;	
	color: var(--color-dark);

	@media screen and (max-width: 768px) {
		padding: 80px 0 50px 0;
	}
	
	@media screen and (max-width: 425px) {
		padding: 50px 0 50px 0;
	}
}

.about__title {
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 300;
	font-style: italic;
}

.about__text {
	font-size: 40px;
	max-width: 1100px;
	margin-bottom: 80px;

	span {
		color: #A5A5A5;
	}

	@media screen and (max-width: 768px) {
		font-size: 24px;
		margin-bottom: 40px;
	}
}

.services {
	font-size: 16px;
	color: var(--color-dark);
	line-height: normal;
	font-weight: 300;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;

	ul {
		display: grid;
		gap: 8px;
	}

	li { 
		position: relative;
		padding-left: 28px;

		img {
			width: 16px;
			height: 16px;
			position: absolute;
			left: 0;
			top: 4px;
		}
	}

	@media screen and (max-width: 768px) {
		flex-direction: column;
	}
}

.services__items {
	flex: 1 1 50%;	
}

.services__items-subtitle {
	margin-bottom: 20px;
	font-style: italic;
}

.services__text {
	flex: 1 1 50%;
	font-size: 20px;
}

.works {
	padding-bottom: 80px;
	background-color: var(--color-light);

	@media screen and (max-width: 768px) {
		padding-bottom: 50px;
	}
}

.works__gallary {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr) 1.5fr;
	column-gap: 30px;
	row-gap: 50px;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, .25);
		transition: all .5s ease-in-out;
	}

	img:hover {
		transform: scale(1.05);
		box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, .3);
	}

	@media screen and (max-width: 1024px) {
		column-gap: 20px;
		row-gap: 30px;
	}

	@media screen and (max-width: 425px) {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr) 1.5fr;
		row-gap: 30px;
	}
}

.inpiration {
	padding-bottom: 80px;
	background-color: var(--color-light);

	@media screen and (max-width: 768px) {
		padding-bottom: 50px;
	}
}

.inpiration__gallary {	
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 1fr);
	gap: 30px;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		transition: all .5s ease-in-out;
	}

	img:hover {
		transform: scale(1.05);
	}

	@media screen and (max-width: 1024px) {
		gap: 20px;
	}

	@media screen and (max-width: 768px) {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 20px;
		row-gap: 30px;
	}

	@media screen and (max-width: 425px) {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(6, 1fr);
		column-gap: 20px;
		row-gap: 30px;
	}
}

.photo4 {
	grid-row: span 2;
}

.photo6 {
	grid-column: span 2;
	@media screen and (max-width: 425px) {
		grid-column: span 1;
	}
}

.customers {
	padding-bottom: 100px;
	background-color: var(--color-light);
	
	@media screen and (max-width: 768px) {
		padding-bottom: 50px;
	}
}

.customers__items {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;

	img {
		width: calc((100% - 90px) / 4);
		box-shadow: 7px 12px 12px 0px rgba(0, 0, 0, .25);

		@media screen and (max-width: 768px) {
			width: calc((100% - 60px) / 4);
			gap: 20px;
		}
	
		@media screen and (max-width: 425px) {
			width: calc((100% - 36px) / 2);
		}
	}
}

.footer {
	padding: 84px var(--footer-padding-inline);
	background: black;	
	color: var(--color-light);
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;

	a {
		color: inherit;
	}

	@media screen and (max-width: 768px) {
		padding: 30px var(--footer-padding-inline) 40px;
		font-size: 16px;
		text-align: center;
		flex-direction: column;
		align-items: start;
	}

	@media screen and (max-width: 425px) {
		align-items: center;
	}
}

.footer__icons {
	display: flex;
	gap: 30px;

	img {
		width: 32px;
		height: 32px;
		border: 1px solid var(--color-light);
		padding: 5px;
	}
}